{% extends 'base.html.twig' %}

{% block title %}Footstat{% endblock %}

{% block body %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="text-center mt-2 fs-3 alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="home">
        <h1 class="text-center text-light fs-1">Bienvenue sur Footstat</h1>
        <p class="fs-3 mx-auto text-center text-light w-75 border-bottom border-top border-primary border-3 px-3 py-2 rounded">Viens te mesurer à tes potes !
            <div class="text-center mt-5">
                <img class="img-home mx-auto w-50 d-none d-sm-block" src="{{ asset('build/images/stat.jpeg') }}">
                <img class="img-mobile mx-auto d-block d-sm-none mt-5" src="{{ asset('build/images/stat.jpeg') }}">
            </div>
        </p>
    </div>

{% endblock %}

