<div class="email">
    <h1 class="text-primary fs-1">Footstat</h1>
    <p>
        Ton profil footstat a bien été crée <br>
        Contacte ton superAdmin pour connaître tes identifiants <br><br>
    </p>
    <p>
        Cheers!
    </p>
</div>
