{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}
    <div class="playerList container-fluid">
        <h1 class="mt-5 text-light text-center pb-3 m-5 border-bottom border-primary border-3 fs-1">Liste des joueurs</h1>
        <table class="d-flex justify-content-center fs-2">
            <tr class="text-primary border-bottom border-primary">
                <th class="pe-3 py-2">Joueur</th>
                <th class="pe-3">Modifier</th>
            </tr>
            {% for user in users %}
            <tr class="bg-dark text-light border-bottom border-secondary fs-5">
                <td class="w-50 pe-4 fs-4 py-2">{{ user.pseudo }}</td>
                <td class="w-50 pe-2 text-center">
                    <a class="text-warning" href="{{ path('admin_edit_player', {'id': user.id}) }}"><i class="fas fa-user-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p class="mt-5 text-center">
            <a class="text-light fs-4" href="{{ path('app_register') }}">Créer un nouveau joueur<i class="ps-3 fas fa-user-plus"></i></a>
        </p>
     </div>

{% endblock %}
