.register {
    font-family: "Bebas Neue", cursive;
    margin-bottom: 30%;
    min-height: 80vh;

    label {
        color: white;
    }
    input {
        font-family: 'Oswald', sans-serif;
    }
}