.statistique {
    min-height: 100vh;
    font-family: "Bebas Neue", cursive;
    list-style: none;

    .fa-circle {
        font-size: 10px;
    }
    .player-picture {
        width: 30px;
        height: auto;
    }
    .user-picture {
        width: auto;
        height: 80px;
    }
}