{% extends 'base.html.twig' %}

{% block title %}Modifier ce match{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block body %}
    <div class="new-game">
        <div class='container-fluid text-white text-center pt-5'>
            <h1 class="mt-2 text-light text-center pb-3 m-5 border-bottom border-primary border-3 fs-1">Modifier le match du <span class="text-danger">{{ game.dateGame }}</span></h1>
            {{ include('games/_form.html.twig', {'button_label': 'Mettre à jour ce match'}) }}
            <div>{{ include('games/_deleteGame.html.twig') }}</div>
            <div class="mt-4">
                <a class="text-light" href="{{ path('admin_show_players') }}">Retour à la liste des matchs</a>
            </div>
        </div>
    </div>
{% endblock %}