{{ form_start(form) }}
    <div class="w-25 fs-2 mx-auto">{{ form_widget(form) }}</div>
    <button class="btn text-white text-center border-white fs-2 mt-4">{{ button_label|default('Sauvegarder')}}</button>
{{ form_end(form) }}
