<footer class="page-footer font-small bg-light container-fluid">
    <div class="d-flex flex-row justify-content-center py-3 fs-5">© 2022 Copyright
            <img class="foot-footer mx-2" src="{{ asset('build/images/ballon.png')}}">
        FOOTSTAT
    </div>
</footer>